/*form sections*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f7;
}

.form-sect{
    background-color: #ffffff;
    /*height: 500px;*/
    border-radius: 5px;
    border-bottom: 5px solid #457fca;
    border-top: 5px solid #457fca;
}
button, .btn{
    width: 40%;
    display: block;
    margin: 25px auto;
}
@media only screen and (min-width: 769px){
    .form-sect{
        width: 460px;
    }
}
@media only screen and (max-width: 768px){
    main{
        padding: 0 25px;
    }
}
@media only screen and (max-width: 480px){

    .btn.btn-primary{
        width: 100px;
    }
}
