<aside id="blue_sect" class="fx-row justify-between">
  <div id="btn-container" class="fx-row justify-fx-start p-t-1">
    <a
      class="butn m-r-1"
      href="#"
      data-toggle="modal"
      data-target="#exampleModal"
      data-whatever="@mdo"
      >example.com</a
    >
    <a
      class="butn m-r-1"
      href="#/"
      data-toggle="modal"
      data-target="#exampleModal"
      data-whatever="@mdo"
      >sample.com</a
    >
    <a
      class="butn m-r-1"
      href="#/"
      data-toggle="modal"
      data-target="#exampleModal"
      data-whatever="@mdo"
      >gamble.com</a
    >
  </div>
  <div class="p-t-1">
    <a
      href="#/"
      id="add-butn"
      class="round-add-butn fx-row justify-center align-center"
      data-toggle="modal"
      data-target="#exampleModal"
      data-whatever="@mdo"
      ><span class="material-icons" style="font-size: 35px">add</span></a
    >
  </div>
</aside>
<main>
  <section id="info" class="fx-row justify-center fx-nowrap">
    <div id="bar-chart" class="fx-col-5">
      <div class="title">Expenses</div>
      <p class="ad-fb">Adword + Facebook.</p>
      <img
        src="https://www.primefaces.org/sapphire-ng/assets/layout/images/dashboard/asset-stats.svg"
        alt=""
      />
    </div>
    <div id="area-chart" class="fx-col-5">
      <div class="title">Revenue</div>
      <div class="number">26520 / day</div>
      <img
        src="https://www.primefaces.org/sapphire-ng/assets/layout/images/dashboard/asset-graph.svg"
        alt=""
      />
    </div>
    <div id="donut-chart" class="fx-col-5">
      <div class="title">Metrics</div>
      <div class="number">2,449,570</div>
      <div class="fx-row fx-nowrap">
        <div class="fx-col-4 p-0">
          <img
            src="https://www.primefaces.org/sapphire-ng/assets/layout/images/dashboard/asset-connectiongraph.svg"
            alt=""
          />
        </div>
        <div class="fx-row fx-col fx-col-12">
          <div class="fx-row justify-between align-center">
            <div>
              <span class="dot dot-green"></span
              ><span class="st-rprt">Profit</span>
            </div>
            <div><span>$644,421</span></div>
          </div>
          <div class="fx-row justify-between align-center">
            <div>
              <span class="dot dot-red"></span
              ><span class="st-rprt">Expenses</span>
            </div>
            <div><span>$537,777</span></div>
          </div>
          <div class="fx-row justify-between align-center">
            <div>
              <span class="dot dot-orange"></span
              ><span class="st-rprt">Shipping</span>
            </div>
            <div><span>$570,099</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="revenue" class="fx-row fx-nowrap align-fx-start">
    <div class="report p-0">
      <img
        style="width: 100%"
        src="https://www.primefaces.org/sapphire-ng/assets/layout/images/dashboard/asset-profile.jpg"
        alt=""
      />
      <nav>
        <div class="nav nav-tabs text-center" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link fx-col-4 active"
            id="nav-home-tab"
            data-toggle="tab"
            href="#nav-home"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Day</a
          >
          <a
            class="nav-item nav-link fx-col-4"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#nav-profile"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Week</a
          >
          <a
            class="nav-item nav-link fx-col-4"
            id="nav-contact-tab"
            data-toggle="tab"
            href="#nav-contact"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
            >Month</a
          >
        </div>
      </nav>
      <div class="tab-content m-b-2" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="fx-row m-t-3">
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-order"></div>
              <div class="userprofile-status">ORDERS</div>
              <div class="userprofile-value">190</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-profits"></div>
              <div class="userprofile-status">PROFITS</div>
              <div class="userprofile-value">$64</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-revenue"></div>
              <div class="userprofile-status">REVENUE</div>
              <div class="userprofile-value">$28</div>
            </div>
          </div>
          <div class="fx-row m-t-3">
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-expenses"></div>
              <div class="userprofile-status">ADWORD</div>
              <div class="userprofile-value">$190</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-expenses"></div>
              <div class="userprofile-status">FACEBOOK</div>
              <div class="userprofile-value">$64</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-ship"></div>
              <div class="userprofile-status">SHIPPING</div>
              <div class="userprofile-value">28</div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-profile"
          role="tabpanel"
          aria-labelledby="nav-profile-tab"
        >
          <div class="fx-row m-t-3">
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-order"></div>
              <div class="userprofile-status">ORDERS</div>
              <div class="userprofile-value">190</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-profits"></div>
              <div class="userprofile-status">PROFITS</div>
              <div class="userprofile-value">$64</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-revenue"></div>
              <div class="userprofile-status">REVENUE</div>
              <div class="userprofile-value">$28</div>
            </div>
          </div>
          <div class="fx-row m-t-3">
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-expenses"></div>
              <div class="userprofile-status">ADWORD</div>
              <div class="userprofile-value">$190</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-expenses"></div>
              <div class="userprofile-status">FACEBOOK</div>
              <div class="userprofile-value">$64</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-ship"></div>
              <div class="userprofile-status">SHIPPING</div>
              <div class="userprofile-value">28</div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-contact"
          role="tabpanel"
          aria-labelledby="nav-contact-tab"
        >
          <div class="fx-row m-t-3">
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-order"></div>
              <div class="userprofile-status">ORDERS</div>
              <div class="userprofile-value">190</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-profits"></div>
              <div class="userprofile-status">PROFITS</div>
              <div class="userprofile-value">$64</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-revenue"></div>
              <div class="userprofile-status">REVENUE</div>
              <div class="userprofile-value">$28</div>
            </div>
          </div>
          <div class="fx-row m-t-3">
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-expenses"></div>
              <div class="userprofile-status">ADWORD</div>
              <div class="userprofile-value">$190</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-expenses"></div>
              <div class="userprofile-status">FACEBOOK</div>
              <div class="userprofile-value">$64</div>
            </div>
            <div class="fx-col-4 text-center">
              <div class="userprofile-circle crcle-ship"></div>
              <div class="userprofile-status">SHIPPING</div>
              <div class="userprofile-value">28</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fx-col-8 p-0">
      <div class="box line-chart">
        <div class="box-body">
          <h4 class="box-title">Overall Statistics</h4>
          <div>
            <canvas id="line-chart1" height="150"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<aside>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add website</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >Website Name:</label
              >
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Domain:</label>
              <input type="text" class="form-control" id="domain-name" />
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >API Key:</label
              >
              <input type="text" class="form-control" id="api-key" />
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >API Secret:</label
              >
              <input type="text" class="form-control" id="api-secret" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</aside>

<!-- ----------------------------------------------------------------------------------------- -->
