<main class="fx-row justify-center">
  <section class="m-t-3 fx-col-4">
    <div class="form-sect p-5 fx-col-12">
      <form #forgetForm="ngForm" (ngSubmit)="forgetPassword(forgetForm.value)">
        <div class="form-group">
          <h2 class="text-center m-b-3">Reset your password</h2>
          <input
            [(ngModel)]="user.email"
            name="email"
            type="email"
            class="form-control m-b-1"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            ngModel
          />
        </div>
        <button type="submit" class="btn btn-primary">NEXT</button>
      </form>
    </div>
  </section>
</main>
